.img-content{
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #1f5297;
    .img-icon {
        margin-top: 14px;
        margin-left: 13px;
        width: 30px;
        height: 30px;
    }
}
  